body {
    /* background: url("../resources/imgs/soa_logo.png"); */
    /* background: url("http://www.deleteagency.com/assets/img/pattern.png"); */
    margin: 0px 0px 0px 0px;
    color: white;
    /* background-image: url("../resources/imgs/ai-logo_2.png"); */
    background-repeat: repeat;
    background-size: 80px;
    /* background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
}

header {
    height: 550px;
    background-image: url("../resources/imgs/ai_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:0px;
}

section {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: white;
}

.nav-container {
    color: white;
    list-style-type: none;
    height: 60px;
    margin: 0px;
    font-size: 1.5em;
    margin: 0px 10px 0px 10px;
    
}

.brand-item {
    height: 40px;
}

main {
    background-color: white;
    /* background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
    width: 80%;
    margin: 40px auto 40px auto;
    padding-left: 10px;
    color: black;
    
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


.main-effect {
    -webkit-box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
}

footer {
    height: 50px;
    padding: 10px;
    background: white;
}