@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    /* background: url("../resources/imgs/soa_logo.png"); */
    /* background: url("http://www.deleteagency.com/assets/img/pattern.png"); */
    margin: 0px 0px 0px 0px;
    /* background-image: url("../resources/imgs/ai-logo_2.png"); */
    background-repeat: repeat;
    background-size: 80px;
    font-family: "Roboto", sans-serif;

    /* background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
}

header {
    height: 550px;
    background-image: url("../resources/imgs/ai_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:0px;
    color: white;

}

section {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: white;
}

.black-color {
    color: black;
}

a:hover {
    color: #1AAB8A;
}

.nav-container {
    color: white;
    list-style-type: none;
    height: 60px;
    margin: 0px;
    font-size: 1.5em;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    
}

.brand-item {
    height: 40px;
    color: #1AAB8A;
}

main {
    background-color: white;
    /* background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
    width: 80%;
    margin: 40px auto 40px auto;
    padding-left: 10px;
    color: black;
    
}


.main-effect {
    -webkit-box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
}

footer {
    height: 50px;
    padding: 10px;
    background: white;
}

#login-signup-container {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.form {
    width: 360px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.not-show {
    display: None;
}

.event-cover {
    height: 300px;
    width: 100%;
    z-index: -1;
    /* position: relative; */
}

.profile-pic {
    width: 80px;
    height: 80px;
    margin: -40px 0px 0 80px;
    /* position: relative; */
}
.event-short-desc-container {
    padding: 10px;
    margin: -40px 80px 0 0px;
    z-index: 1;
    /* position: relative; */
}

.event-header {
    /* position: relative; */
}