@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    /* background: url("../resources/imgs/soa_logo.png"); */
    /* background: url("http://www.deleteagency.com/assets/img/pattern.png"); */
    margin: 0px 0px 0px 0px;
    /* background-image: url("../resources/imgs/ai-logo_2.png"); */
    background-repeat: repeat;
    background-size: 80px;
    font-family: "Roboto", sans-serif;

    /* background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
}

header {
    height: 550px;
    background-image: url("../resources/imgs/ai_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:0px;
    color: white;

}

section {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: white;
}

.black-color {
    color: black;
}

a:hover {
    color: #1AAB8A;
}

.nav-container {
    color: white;
    list-style-type: none;
    height: 60px;
    margin: 0px;
    font-size: 1.5em;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    
}

.brand-item {
    height: 40px;
    color: #1AAB8A;
}

main {
    background-color: white;
    /* background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
    width: 80%;
    margin: 40px auto 40px auto;
    padding-left: 10px;
    color: black;
    
}


.main-effect {
    -webkit-box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 75px 10px rgba(0,0,0,0.1);
}

footer {
    height: 50px;
    padding: 10px;
    background: white;
}

#login-signup-container {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.form {
    width: 360px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.not-show {
    display: None;
}

.event-cover {
    height: 300px;
    width: 100%;
    margin-bottom: 100px
}

.profile-pic {
    width: 100px;
    height: 100px;
}

.profile-pic-container:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);

}

.event-short-desc-container {
    padding: 10px;
    z-index: 1;
    background: rgba(255, 255, 255, 1)
}

.event-header {
    position: relative;
}

.event-header .profile-pic {
    position: absolute;
    top: 250px;
    left: 80px;
}
.event-header .event-short-desc-container {
    position: absolute;
    top: 205px;
    right: 80px;
}

.event-header .signup-bt {
    position: absolute;
    top: 270px;
    left:30%;
}

.event-header .lecture-req-bt {
    position: absolute;
    top: 270px;
    right:40%;
}



.pro-short-info {
    box-shadow: 0px 2px 10px 0px rgba(100,100,100,0.5);
}
.pro-outline {


}
.pro-outline a {
    margin: 0px;
    padding: 5px 10px;
}

#selected {
    background: #1AAB8A;
    color: white;
}

#selected:hover {
    background: #1AAB8A;
    color: white;
    cursor: default;
}

.pro-outline a:hover {
    background: rgb(193, 198, 197);
    color: white;
    cursor: pointer;
}

.pro-outline b {
    margin: 5px 0px 5px 0px;
}

.nav-shadow {
    top:0;
    position:fixed;
    width: 100%;
    box-shadow: 0px 4px 10px 0px rgba(100,100,100,0.5);
    z-index: 3;
    background-color: white;
}

footer {
    box-shadow: 0px -4px 10px 0px rgba(100,100,100,0.5);
}


.profile-main {
    position: relative;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 60px;;
}

.pro-info {
    width: 100%;
    margin: 20px;
    z-index: 1;

}


.profile-aside {
    /* position: fixed; */
    /* top:60px; */
    width:250px;
    z-index: 1;
    /* position: relative; */
}

.text-align-center{
    text-align: center;
}


.profile-footer {
    width:100%;
    background: white;
    z-index: 4;
}

.not-found-main {
    height: 600px;
}

.font-large {
    font-size: 8em;
}

.font-medium {
    font-size: 4em;
}


.font-small {
    font-size: 2em;
}

.accept-message {
    color: rgb(57, 240, 57);
}

.refuse-message {
    color: rgb(238, 16, 16);
}

.waiting-message {
    color: rgb(253, 207, 1);
}
/* footer,.profile-footer {
    bottom:0;
    display: relative;
} */
.brand-white {
    display: None;
}

@media screen and (max-width: 1000px) {
    .event-header .signup-bt {
        top: 130px;
        left:30%;
    }
    
    .event-header .lecture-req-bt {
        top: 130px;
        right:30%;
    }
}

@media screen and (max-width: 740px) {
    .event-header .signup-bt {
        top: 130px;
        left:20%;
    }
    
    .event-header .lecture-req-bt {
        top: 130px;
        right:20%;
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .nav-container {
        background-color: transparent;
        box-shadow: 0px -4px 10px 0px rgba(255, 255, 255, 0);
        height: auto;
        padding: 10px;
        position: static;

    }

    .nav-container div * {
        /* margin: 10px; */
        margin: 0;
        padding: 0;
    }

    .nav-container div {
        /* margin: 10px; */
        margin: 0px;
        padding: 0;
    }


    .event-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

    }

    .event-header .profile-pic {
        position: static;
        margin-bottom: 10px;
        /* top: 250px;
        left: 80px; */
    }

    .event-header .event-short-desc-container {
        position: static;
        /* top: 205px;
        right: 80px; */
    }

    .event-cover {
        margin-bottom: 20px;
    }

    .event-header .signup-bt {
        top: 130px;
        left:15%;
        padding: 10px;
    }
    
    .event-header .lecture-req-bt {
        top: 130px;
        right:15%;
        padding: 10px;
    }

    .profile-aside {
        margin-top:10px;
        margin: auto;
    }

  }