{% load static %}

<!doctype html>

<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">

  <title>Erfan Miahi</title>
  <meta name="description" content="School of AI - Rasht Chapter">
  <meta name="author" content="Erfan Miahi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <meta property="og:title" content="Event Management Website" />
  <meta property="og:type" content="site" />


  <meta name="description" content="A Page which you can create AI related Events">
  <meta name="keywords" content="AI event,artificial intelligence, lecture, lecturer">

  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/flex-containers.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/elements.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <meta name="theme-color" content="#2b5797">
  <!-- Icon created by Nick Roach, licensed under GPL. -->
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main_page/meta_data/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main_page/meta_data/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main_page/meta_data/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'main_page/meta_data/manifest.json' %}">

</head>
<body>
  <!--<div class="flex-container">-->
  <header class="flex-container flex-column">
  <nav class="nav-container flex-container flex-center">

      <div class="flex-item-1">
        <a id="brand-pic-container" href="{% url 'index' %}">
          <img class="brand-item" src="{% static 'main_page/resources/imgs/soa_logo.svg' %}" onmouseover="hover(this);" onmouseout="unhover(this);">
        </a>
      </div>

      <div class="flex-container flex-item-4 flex-center">
        <a class="flex-padding-1" href="{% url 'events' %}">
          Events 
        </a>
        <a class="flex-padding-1" href="#">
          Lecturers
        </a>
        <a class="flex-padding-1" href="#">
          About us
        </a>
      </div>

      {% if user.is_anonymous %}

      <div class="flex-container flex-item-1">
      <a id="register-button" class="flex-item-1" onclick="addRegisterPage()" href="#">
        SignUp
      </a> 
      <a id="login-button" class="flex-item-1" onclick="addLoginPage()" href="#">
        Login
      </a>
      </div>
      {% else %}

        <div class="flex-container flex-center-align flex-margin-right-high">
            <a  class="flex-item-1" href="{% url 'profile' %}">
                  {{ user.first_name|add:' '|add:user.last_name }}
            </a>
            <a  class="flex-item-1 black-color" href="{% url 'profile' %}">
                {% if user.profile.photo_url %}
                    <img id="nav_pro_pic" class='brand-item' src="{{ user.profile.photo_url.url }}">
                {% else %}
                    <img id="nav_pro_pic" class='br and-item' src="{% static 'main_page/resources/imgs/user.svg' %}">
                {% endif %}
            </a>
        </div>
        {% endif %}

  </nav>
  <div class='flex-container flex-center flex-grow flex-column'>
    <h1> School of AI Events</h1>
    <button id="register-bt-2" class="sign-button" onclick="addRegisterPage()">Sign up</button>
  </div>
  </header>
  
  <main class="main-effect flex-container flex-column">
  <section class="flex-container flex-column">
    <h2>Events</h2>
    {% if latest_event_list %}

    <div class="events-container flex-container flex-padding-1">
      {% for event in latest_event_list %}
      <div  class="main-effect event-card flex-item-1" >
        <img src="{{ event.cover_url.url }}">
        <div itemscope itemtype="http://schema.org/Event" class="flex-container flex-column flex-grow">
          <b itemprop="name">{{ event.title }}</b>
          <a itemprop="sign_up_link" class="event-card-button" href="{% url 'event_details' event.id %}">Sign up</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class='flex-container flex-center'>
    <a class='show-more-button' href="{% url 'events' %}"> Show More... </a>
    </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
  </section>

  {% if latest_lecturer_list %}
  <section class="flex-container flex-column">
    <h2>Lecturers</h2>
    <div class="events-container flex-container flex-padding-1">
      {% for lecturer in latest_lecturer_list %}
      <div class="main-effect card_normal_size event-card flex-item-1">
        <img src="{% static lecturer.photo_url.url %}">
        <div class="flex-container flex-column flex-grow">
          <b>{{ lecturer.name }}</b>
          <button class="event-card-button">Sign up</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class='flex-container flex-center'>
    <a class= 'show-more-button'> Show More... </a>
    </div>
  </section>
  {% else %}
  {% endif %}

  <section class="flex-container flex-column">
    <h2>Deans</h2>
    <div class="events-container flex-container flex-padding-1 flex-center">
      <div class="">
      </div>
      <div class="main-effect event-card flex-padding-1">
        <div class="flex-container flex-center">
        <img src="{% static 'main_page/resources/imgs/profile.png' %}" class='deans-photo'>
        </div>
        <div class="flex-container flex-column flex-center">
          <b>Erfan Miahi</b>
          <p> Az Khobaye AI </p>
        </div>
      </div>
      <div class="">
      </div>
    </div>
  </section>

  </main>

  <footer class="main-effect">
  <a href="#" class="fa fa-new fa-facebook"></a>
  <a href="#" class="fa fa-new fa-twitter"></a>
  <a href="#" class="fa fa-new fa-telegram"><i></a>


  </footer>

  <div id="login-signup-container" class="not-show flex-center">
  <div class="flex-container flex-column flex-center">
    <i id="login-register-close-bt" class="fa fa-close"></i>

    <div class="form">
    <form id="register-form" method="POST" class="not-show">
      <input id="fullname_register" type="text" placeholder="full name"/>
      <input id="username_register" type="text" placeholder="user name"/>
      <input id="password_register" type="password" placeholder="password"/>
      <input id="emailaddress_register" type="text" placeholder="email address"/>
      <button name="data" type="button" onclick="signup_send()">create</button>
      <p class="message">Already registered? <a id="register-bt"  href="#">Sign In</a></p>
    </form>
    <form id="login-form" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a id="login-bt" href="#">Create an account</a></p>
    </form>
    </div>
    <div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static 'main_page/js/utils/css_manip.js' %}"></script>
  <script src="{% static 'main_page/js/scripts.js' %}"></script>
  <script src="{% static 'main_page/js/users.js' %}"></script>
  

  <!--  <div class="flex-container">
      <div><a href="https://www.dropbox.com/s/vzplvx8otjtm6mp/resume.pdf?dl=0">Resume</a></div>
      <div><a href="https://github.com/erfanMhi">Github</a></div>
      <div><a href="https://twitter.com/NTDeterminestic">Twitter</a></div>
      <div><a href="https://www.linkedin.com/in/erfan-miahi-8637a1130/">Linkedin</a></div>
    </div>
  </button>-->

</body>

</html>