{% extends 'users/profile_base.html' %}

{% load static %}


        {% block content %}
        <div class='pro-info flex-container flex-column flex-center'>
           <table class="request-table main-effect"> 
                <col>
                <col>
                <col>
                <col>
                <thead> 
                <tr> 
                    <th>User</th> 
                    <th>Title</th>
                    <th>Event</th> 
                    <th>Action</th> 
                </tr> 
                </thead> 
                <tbody> 
                <tr> 
                    <td>Erfan Miahi</td> 
                    <td>Artificial Intelligence</td>
                    <td>School of AI first meetup</td> 
                    <td><a class="fa fa-trash"></a><span class="flex-margin-left">|</span><a class="fa flex-margin-left fa-handshake-o"></a></td> 
                </tr>
                <tr> 
                    <td>Erfan Miahi</td> 
                    <td>Artificial Intelligence</td>
                    <td>School of AI Second meetup</td> 
                    <td><a class="fa fa-trash"></a><span class="flex-margin-left">|</span><a class="fa flex-margin-left fa-handshake-o"></a></td> 
                </tr>
                <tr> 
                    <td>Erfan Miahi</td> 
                    <td>Artificial Intelligence</td>
                    <td>School of AI Second meetup</td> 
                    <td><a class="fa fa-trash"></a><span class="flex-margin-left">|</span><a class="fa flex-margin-left fa-handshake-o"></a></td>  
                </tr> 

                </tbody> 
            </table> 
        </div>
        {% endblock %}









