
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Erfan Miahi</title>
  <meta name="description" content="School of AI - Rasht Chapter">
  <meta name="author" content="Erfan Miahi">
  <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;">

  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/flex-containers.css">
  <link rel="stylesheet" href="../css/elements.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <!--<div class="flex-container">-->
    <nav class="nav-container nav-shadow flex-container flex-center-align flex-space">


        <div class="">
            <a id="brand-pic-container-other" href="">
            <img class="brand-item black-color" src="../resources/imgs/soa_logo_3.svg" onmouseover="hover(this, true);" onmouseout="unhover(this, true);">
            </a>
        </div>

        <div class="flex-container flex-center-align">
        <a id="register-button" class="flex-item-1 black-color" href="#" onclick="addRegisterPage()">
            Erfan Miahi
        </a>
        <a id="login-button" class="flex-item-1 black-color" href="#" onclick="addLoginPage()">
            <img class='brand-item' src="../resources/imgs/user.svg">
        </a>
        </div>

    </nav>


    <div class="main-effect flex-container profile-main">
        <aside class='profile-aside'>
            <div class='main-effect flex-container flex-column flex-wrap'>
                <div class='pro-short-info flex-padding-1 flex-container flex-center flex-column'>
                    <div class="profile-pic-container">
                        <input class='custom-file-input' type="file" accept="image/*">
                        <img class='profile-pic' src="../resources/imgs/user.svg">
                    </div>
                    <p> Erfan Miahi </p>
                </div>
                <div class='pro-outline flex-padding-1 flex-container flex-column'>
                    <b>User</b>
                    <a class="black-color"> Profile Details </a>
                    <a class="black-color"> Event Plus </a>
                    <a id="selected" class="black-color"> Notifications </a>
                    <b>Adminstarator</b>
                    <a class="black-color"> Join Requests </a>
                    <a class="black-color"> Lecture Requests </a>
                </div>
            </div>
        </aside>
        <div class='pro-info flex-container flex-column flex-center'>
           <table class="request-table main-effect"> 
                <col>
                <col>
                <col>
                <col>
                <thead> 
                <tr> 
                    <th>Request</th>
                    <th>Event</th>
                    <th>Status</th> 
                </tr> 
                </thead> 
                <tbody> 
                <tr> 
                    <td>Lecture</td>
                    <td>Erfan Miahi</td>                    
                    <td class="refuse-message">Refused</td>
                </tr>
                <tr> 
                    <td>Join</td> 
                    <td>First School of AI Meetup</td>                    
                    <td class="refuse-message">Refused</td>
                </tr>
                <tr> 
                    <td>Lecture</td> 
                    <td>Second School of AI Meetup</td>
                    <td class="accept-message">Accepted</td>
                </tr> 

                </tbody> 
            </table> 
        </div>
    </div>


    <footer class="profile-footer stick-bottom">
        <a href="#" class="fa fa-new fa-facebook"></a>
        <a href="#" class="fa fa-new fa-twitter"></a>
        <a href="#" class="fa fa-new fa-telegram"><i></a>


    </footer>


  <script src="../js/utils/css_manip.js"></script>
  <script src="../js/scripts.js"></script>


  <!--  <div class="flex-container">
      <div><a href="https://www.dropbox.com/s/vzplvx8otjtm6mp/resume.pdf?dl=0">Resume</a></div>
      <div><a href="https://github.com/erfanMhi">Github</a></div>
      <div><a href="https://twitter.com/NTDeterminestic">Twitter</a></div>
      <div><a href="https://www.linkedin.com/in/erfan-miahi-8637a1130/">Linkedin</a></div>
    </div>
  </button>-->

</body>

</html>